<div class="container p-2">
  <h2 class="text-center white mb-4"> All your transactions </h2>
  <div class="amount-box">
    <p class="text-center", style="font-weight: 600;"> Total: $ <%= show_total_spent %> </p>
  </div>
  <%= show_transactions %>
  <div class="container bottom-container d-flex justify-content-center">
    <%= link_to 'New Transaction', transactions_new_path, class:'bottom-link btn btn-outline-success' %>
  </div>
</div>