<div class="container p-2">
  <h2 class="text-center white mb-4"> All your groups </h2>
  <%= show_groups %>
  <div class="container bottom-container d-flex justify-content-center">
    <%= link_to 'New Group', groups_new_path, class:'bottom-link btn btn-outline-success' %>
  </div>
</div>